.wrapper {
		margin: 0 auto;
		width: 90%;
		max-width: 768px;
	}
	
header#title {
		border-top: 8px solid #255ca0;
	}

.color-1,.t1 {
		background-color: #283547;
	}

.color-2,.t2 {
		background-color: #9eabbf;
	}

.color-3,.t3 {
		background-color: #a7c1da;
	}

.color-4,.t4 {
		background-color: #255ca0;
	}

.color-5,.t5 {
		background-color: #132035;
	}

.color-6,.t6 {
		background-color: #8d96a3;
	}

.color-7 {
		background-color: #327dc9;
	}