/* ================================== 
	Positioning
===================================== */

/* see assets/grater.css */

/* ================================== 
	Display & Box Model
===================================== */

@media all and (max-width: 660px) {
	
	section {
      padding: 40px 10px; 
	}
	
	.grater {
		text-align: center; 
	}
	
	.grater > div {
		height: auto !important; 
	}
    
	.grater > div:first-child {
		margin-bottom: 3em; 
	}
    
}

#about, section, footer {
	padding: 50px 0;
}

#about, footer {
	margin: 0 auto;	
}

/* ================================== 
	Background & Typography Styles
===================================== */

body { /* Sets site-wide font */
	font-family: 'Open Sans', sans-serif; 
}

mark { /* Creates the 'highlight' effect. */
    background-color: #fdffb6;
    padding: 2px;
    box-shadow: #fdffb6 0 0 5px;
    color: #21272d; 
}

p {
	font-size: 20px;
	line-height: 1.4em;
}

p.small {
	font-size: 1em;
}

footer {
	text-align: center;
}

a {
	text-decoration: none;
}

#about {
	background-color: #6D9DBF; 	
	color: #fff;
}

#about a {
	color: #326F88;
	border-bottom: #6D9Dbf;
}

#about a:hover {
	border-bottom: #326F88;
}

#nationbuilder {
	background-color: #63b3d0; 	
	color: #fff;
}

#nationbuilder a {
	color: #007F9E;	
}

#nationbuilder a:hover {
	border-bottom: #007F9E;
}

#maryland {
	background-color: #EB3F3B; 	
	color: #fff;
}

#maryland a {
	color: #262626;
}

#maryland a:hover {
	border-bottom: #262626;
}

#baltimore {	
	color: #444;
}

#baltimore a {
	color: #e5c04b;
}

#baltimore a:hover {
	border-bottom: #e5c04b;
}

#about p a,
#nationbuilder p a,
#maryland p a,
#baltimore p a {
	border-bottom: 0px solid transparent;
}

#about p a:hover,
#nationbuilder p a:hover,
#maryland p a:hover,
#baltimore p a:hover {
	border-bottom: 1px solid;
}

footer {
	background-color: #6D9DBF;
	color: #fff;
}

.small {
	font-size: .9em;
}


/* ================================== 
	Transitions
===================================== */

a { /* Sets smooth hover transitions */
	transition: border .2s;
	-webkit-transition: border .2s; /* Safari */
}

/* ================================== 
	Other
===================================== */

.photo {
	width: 300px;
	height: 300px;
	display: block;
	background: url("ian.png") no-repeat;
	background-size: 300px 300px;
	margin: 0 auto 1em;
}

.logo {
	color: transparent;
	font: 0/0 a;
	text-shadow: none;
	width: 300px;
	height: 300px;
	display: block;
	background-size: 300px 300px;
	margin: 0 auto 1em;
	border-bottom: 0px;
}

#nationbuilder .logo {
    background-image: url("nb.png"); 
}

#maryland .logo {
    background-image: url("md.png"); 
}

#baltimore .logo {
    background-image: url("baltimore.png"); 
}